{% extends 'base.html' %}
{% load static %}



{% block content %}

  <link rel="stylesheet" href="{% static 'css/customer/profile.css' %}">
  <link rel="stylesheet" href="{% static 'css/customer/cart.css' %}">

  <div class="wrapper">
    <div class="nav-bar">
      <div class="logo-user">
        <div style="display: flex; justify-content: center">
          <img id="user-avatar" src="{% static 'img/account.svg' %}" alt="logo">
        </div>
        <p>Xin chào!<p id="username"></p></p>
      </div>
      <div class="menu" id="menu">
        <div class="menu-li" id="profile-tab">
          <img src="{% static "img/account.svg" %}" alt="icon-user">
          Tài khoản của tôi
        </div>
        <div class="menu-li" id="order-history-tab">
          <img src="{% static 'img/danhmuc.jpg' %}" alt="icon-cart">
          Đơn mua
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <!-- Hồ sơ cá nhân -->
        <div id="profile-content">
          <div class="title">
            <h3>Hồ sơ của tôi</h3>
            <p>Quản lí hồ sơ để bảo mật tài khoản</p>
          </div>
          <div class="user-info">
            <p><strong>Họ và tên:</strong> <span id="user-fullname"></span></p>
            <p><strong>Số điện thoại:</strong> <span id="user-sdt"></span></p>
            <p><strong>Địa chỉ:</strong> <span id="user-address"></span></p>
            <p><strong>Trạng thái:</strong> <span id="user-status"></span></p>
            <button id="edit-profile-btn">Sửa thông tin</button>
          </div>
        </div>

        <!-- Đơn mua -->
        <div id="orders-content" class="hidden">
          <div class="title">
            <h3>Đơn mua của bạn</h3>
            <p>Xem lại các đơn hàng đã đặt.</p>
          </div>
          <div class="search-oder">
            <div>
              <label for="search-start-date">Từ ngày:</label>
              <input type="date" id="search-start-date" placeholder="Từ ngày">
            </div>

            <div>
              <label for="search-end-date">Đến ngày:</label>
              <input type="date" id="search-end-date" placeholder="Đến ngày">
            </div>

            <div>
              <label for="search-total">Tổng tiền:</label>
              <input type="number" id="search-total" placeholder="Nhập tổng tiền...">
            </div>

            <div>
              <label for="search-address">Địa chỉ:</label>
              <input type="text" id="search-address" placeholder="Nhập địa chỉ gần đúng">
            </div>

            <div>
              <label for="search-status">Trạng thái:</label>
              <select id="search-status">
                <option value="">--Tất cả--</option>
                <option value="Pending">Chưa thanh toán</option>
                <option value="Confirmed">Đã xác nhận</option>
                <option value="Completed">Đã thanh toán</option>
                <option value="Cancelled">Đã hủy</option>
              </select>
            </div>
            
            <button id="search-btn" >Tìm kiếm</button>
            <button id="reset-btn" onclick=reset()>Clear</button>
          </div>
          
          <ul id="order-list">
            <table id="invoice-table">
              <thead>
                <th>ID Hóa Đơn</th>
                <th>Tên Khách Hàng</th>
                <th>Ngày đặt</th>
                <th>Tổng tiền</th>
                <th>Địa chỉ</th>
                <th>Trạng thái</th>
                <th>Chi tiết hóa đơn</th>
                <tbody id="body-oder">
                  <!--Các hóa đơn sẽ hiện ở đây-->
                </tbody>
              </thead>
            </table>
          </ul>
          <!-- Popup Hiển Thị Chi Tiết Hóa Đơn -->
          <div id="popup-oder" class="popup" style="display: none;">
            <div class="popup-content">
              <h3>Chi tiết hóa đơn</h3>
              <table id="detail-oder">
                <thead>
                  <tr>
                    <th>Tên Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Các dòng chi tiết hóa đơn sẽ được thêm vào đây -->
                </tbody>
              </table>
              <button id="close-popup">Đóng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'js/customer/profile.js' %}?v={{ timestamp }}" ></script> 
{% endblock %}
