{% extends 'admin/admin_base.html'%}
{% load static %}
{% block title %}Danh sách Đơn hàng{% endblock %}
{% block header_title %}Quản lý Đơn hàng{% endblock %}

{% block content %}
<div class ="content">
    <!-- Form thêm/sửa đơn hàng -->
     <div>

     </div>  
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên khách hàng</th>
                    <th>Địa chỉ giao hàng</th>
                    <th>Ngày đặt hàng</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
</div>    
<script>
    
</script>
{% endblock%}