{% extends 'admin/admin_base_site.html'%}
{% load static %}
{% block title %}Danh sách Đơn hàng{% endblock %}
{% block header_title %}Quản lý Đơn hàng{% endblock %}

{%block table_header%}
    <tr>
        <th>ID</th>
        <th>Tên khách hàng</th>
        <th>Địa chỉ giao hàng</th>
        <th>Ngày đặt hàng</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
    </tr>
{% endblock %}
{% block filter_fields %}
    <input type="text" name="customer_name" placeholder="Tìm theo tên khách hàng">
    <input type="date" name="order_date" placeholder="Tìm theo ngày đặt hàng">
{% endblock %}
{% block table_body %}
    <!-- Dữ liệu bảng sẽ được định nghĩa trong template con -->
{%endblock%}

