{% extends "admin/admin_base.html" %}
{% load static %}

{% block content %}
<div class="form-container">
    <h2 style="margin-bottom: 10px">Thêm Danh Mục Mới</h2>
    <form method="POST" action="{% url 'add_category' %}">  <!-- Thay 'add_category' bằng URL bạn đã định nghĩa trong urls.py -->
        {% csrf_token %}
        <div class ="form-group">
            <label for="category_name">Tên Danh Mục:</label>
            <input type="text" id="category_name" name="category_name" required placeholder="Nhập tên danh mục">
        </div>
        <div class ="form-actions">
            <button type="submit" class="save-btn">Thêm Danh Mục</button>
        </div>
    </form>
</div>
{% endblock %}