{% extends "admin/admin_base.html" %}
{% load static %}

{% block content %}
<div class="form_add">
    <h2>Thêm Danh Mục Mới</h2>
    <form method="POST" action="{% url 'add_category' %}">  <!-- Thay 'add_category' bằng URL bạn đã định nghĩa trong urls.py -->
        {% csrf_token %}
        <div>
            <label for="category_name">Tên Danh Mục:</label>
            <input type="text" id="category_name" name="category_name" required>
        </div>
        <div>
            <button type="submit">Thêm Danh Mục</button>
        </div>
    </form>
</div>
{% endblock %}