{% extends 'admin/admin_base_site.html'%}
{% load static %}
{% block title %}Danh sách Danh mục{% endblock %}
{% block header_title %}Quản lý Danh mục{% endblock %}

{% block action_buttons %}
{% if can_add_category %}
<div class="action-buttons">
    <a href="{% url 'add_category' %}" class="add-btn">Thêm mới</a>
</div>
{% endif %}
{% endblock %}

{% block filter_fields %}
    <input type="text" name="category_name" placeholder="Nhập tên danh mục" value={{category_name|default_if_none:''}}>
    <button type="submit" class="filter-btn">Lọc</button>
{% endblock %}
{% block table_header %}
    <tr>
        <th>STT</th>
        <th>Tên Danh mục</th>
        <th>Thao tác </th>
    </tr>
{% endblock %}
{% block table_body %}
    {% for category in categories %}
    <tr>
        <td>
            {{ forloop.counter }}
        </td>
        <td>{{ category.name }}</td>
        <td>
            <a href="{% url 'change_category' category.id %}" class="edit-btn">Sửa</a>
        </td> 
    </tr>
    {% empty %}
        <tr>
            <td colspan="3">Chưa có danh mục nào.</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block script%}
<script>
{% for message in messages %}
    alert("{{ message|escapejs }}");
{% endfor %}
</script>
{%endblock%}