
{% extends 'admin/admin_base.html' %}
{% load static %}
{% block title %}Danh sách Sách{% endblock %}
{% block header_title %}Quản lý Sách{% endblock %}

{% block content %}
<div class="content">
   
    <!-- Form thêm/sửa sách -->
    <div >
        
    </div>

    <!-- Bảng danh sách sách -->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên sách</th>
                <th>Tác giả</th>
                <th>Danh mục</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Danh mục</th>
                <th>Trạng thái</th>                
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td colspan="8">Chưa có sách nào.</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    
</script>
{% endblock %}
