{% extends 'admin/admin_base_site.html' %}
{% load static %}
{% block title %}Danh sách Sách{% endblock %}
{% block header_title %}Quản lý Sách{% endblock %}

{% block action_buttons %}
{% if can_add_book %}
<div class="action-buttons">
    <a href="{% url 'add_book' %}" class="add-btn">Thêm mới</a>
</div>
{% endif %}
{% endblock %}

{% block filter_fields %}
<select name="category_name" id="category_name">
    <option value="" {% if not category_name %}selected{% endif %}>Chọn danh mục</option>
    {% for category in categories %}
        <option value="{{ category.id }}" {% if category_name == category.id|safe %}selected{% endif %}>
            {{ category.name }}
        </option>
    {% endfor %}
</select>
<input type="text" name="search_book" id="search_book" placeholder="Nhập thông tin tìm kiếm" value="{{ search_book|default_if_none:'' }}">
{% endblock %}
{% block table_header %}
    <tr>
        <th>ID</th>
        <th>Tên sách</th>
        <th>Hình ảnh</th>
        <th>Tác giả</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Danh mục</th>
        <th>Trạng thái</th>  
        <th colspan ="2">Thao tác</th>
    </tr>
{% endblock %}
{%block table_body %}
    <!-- Dữ liệu bảng sẽ được định nghĩa trong template con -->
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td><img src="/media/{{ book.imagePath }}" width="60" height='70'></td>
        <td>{{ book.author }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.stock }}</td>
        <td>{{ book.category.name }}</td>
        <td>{{ book.status }}</td>
        <td>
            <a href="#" class="edit-btn">Sửa</a>
            <a href="#" class="delete-btn" onclick="return confirm('Bạn có chắc muốn xóa?')">Xóa</a>
        </td> 
    </tr>
    {% empty %}
            <tr>
                <td colspan="8">Chưa có sách nào.</td>
            </tr>
    {% endfor %}
{% endblock %}

