{% extends 'admin/admin_base_site.html'%}
{% load static %}
{% block title %}Danh sách phiếu xuất{% endblock %}
{% block header_title %}Quản lý phiếu xuất{% endblock %}
{% block add_url %}{% url 'add_stock_out' %}{% endblock %}
{% block filter_fields %}
    <input type="text" name="order_id" placeholder="Nhập ID hóa đơn" value ={{order_id_filter|default_if_none:""}}>
    <label for ="start_date" >Từ ngày</label>
    <input type="date" name="start_date" id="start_date" value={{ start_date_filter|default_if_none:"" }}>
    <label for="end_date" >Đến ngày</labe>
    <input type="date" name="end_date" id="end_date" value={{end_date_filter|default_if_none:"" }}>
    <button type="submit" class="filter-btn">Lọc</button>
{% endblock %}
{% block table_header %}
    <tr>
        <th>ID</th>
        <th>Tên sách</th>
        <th>Số lượng</th>
        <th>Tổng tiền</th>
        <th>Ngày xuất hàng</th>
        <th>ID Hóa đơn</th>
        <th>Ghi chú</th>
    </tr>
{% endblock %}
{%block table_body%}
    {%for stock_out in stock_outs%}
    <tr>
        <td>{{stock_out.id}}</td>
        <td>{{ stock_out.book.title }}</td>
        <td>{{ stock_out.quantity }}</td>
        <td>{{ stock_out.total_price|floatformat:0 }}</td>
        <td>{{ stock_out.order.created_at|date:"d/m/Y H:i" }}</td>
        <td>{{ stock_out.order.id }}</td>
        <td>{{ stock_out.note }}</td>
        {% comment %} <td><a href="{% url 'order_detail' order.id %}">Xem chi tiết</a></td> {% endcomment %}
    </tr>
    {%endfor%}
{%endblock%}
{%block script%}
<script>
    document.getElementById('start_date').addEventListener('change', function () {
        const startDate = this.value;
        const endDateInput = document.getElementById('end_date');

        // Cập nhật ngày tối thiểu có thể chọn cho ngày kết thúc
        endDateInput.min = startDate;

        // Nếu ngày kết thúc hiện tại < ngày bắt đầu → xóa luôn để tránh sai
        if (endDateInput.value && endDateInput.value < startDate) {
            endDateInput.value = '';
        }
    });
    {% for message in messages %}
        alert("{{ message|escapejs }}");
    {% endfor %}
</script>
{%endblock%}