{% extends 'admin/admin_base.html'%}
{% load static %}
{% block title %}Danh sách phiếu xuất{% endblock %}
{% block header_title %}Quản lý phiếu xuất{% endblock %}

{% block content %}
<div class ="content">
    <!-- Form thêm/sửa đơn hàng -->
     <div>

     </div>  
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên sách</th>
                    <th>Số Lượng</th>
                    <th>Tổng tiền</th>
                    <th>Ngày xuất hàng</th>
                    <th>ID Hóa Đơn</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
</div>    
<script>
    
</script>
{% endblock%}