{% extends 'admin/admin_base_site.html'%}
{% load static %}
{% block title %}Danh sách phiếu nhập{% endblock %}

{% block action_buttons %}
{% if can_add_stockin %}
<div class="action-buttons">
    <a href="{% url 'add_stockin' %}" class="add-btn">Thêm mới</a>
</div>
{% endif %}
{% endblock %}

{%block filter_fields%}
    <input type="text" name="book_name" placeholder="Nhập tên sách" value={{book_filter|default_if_none:''}}>
    <label for ="start_date" >Từ ngày</label>
    <input type="date" name="start_date" id="start_date" value={{ start_date_filter|default_if_none:'' }}>
    <label for="end_date" >Đến ngày</labe>
    <input type="date" name="end_date" id="end_date" value={{end_date_filter|default_if_none:'' }}>
    <button type="submit" class="filter-btn">Lọc</button>
{%endblock%}
{% block table_header %}
    <tr>
        <th>ID</th>
        <th>Tên sách</th>
        <th>Số Lượng</th>
        <th>Tổng tiền</th>
        <th>Ngày nhận hàng</th>
        <th>Ghi chú</th>
    </tr>
{% endblock %}
 {% block table_body %}
    {% for stock_in in stock_ins %}
    <tr>
        <td>{{ stock_in.id }}</td>
        <td>{{ stock_in.book.title }}</td>
        <td>{{ stock_in.quantity }}</td>
        <td>{{ stock_in.total_price }}</td>
        <td>{{ stock_in.date }}</td>
        <td>{{ stock_in.note }}</td>
    </tr>
    {% empty %}
            <tr>
                <td colspan="6">Chưa có phiếu nhập nào.</td>
            </tr>
    {% endfor %}
{% endblock %}
{%block script%}
<script>
    document.getElementById('start_date').addEventListener('change', function () {
        const startDate = this.value;
        const endDateInput = document.getElementById('end_date');

        // Cập nhật ngày tối thiểu có thể chọn cho ngày kết thúc
        endDateInput.min = startDate;

        // Nếu ngày kết thúc hiện tại < ngày bắt đầu → xóa luôn để tránh sai
        if (endDateInput.value && endDateInput.value < startDate) {
            endDateInput.value = '';
        }
    });
    {% for message in messages %}
        alert("{{ message|escapejs }}");
    {% endfor %}
</script>

{%endblock%}
