{% extends 'admin/admin_base_site.html' %}
{% load static %}

{% block title %}Danh sách Nhóm{% endblock %}
{% block header_title %}Quản lý Nhóm{% endblock %}

{% block action_buttons %}
{% if can_add_group %}
<div class="action-buttons">
    <a href="{% url 'add_group' %}" class="add-btn">Thêm mới</a>
</div>
{% endif %}
{% endblock %}

{% block filter_fields %}
    <input type="text" name="group_name" placeholder="Nhập tên nhóm">
{% endblock %}
{% block table_header %}
    <tr>
        <th>Chọn</th>
        <th>Tên Nhóm</th>
    </tr>
{% endblock %}
{% block table_body %}
    {% for group in groups %}
    <tr>
        <td>
            <input type="checkbox" name="selected_groups" value="{{ group.id }}">
        </td>
        <td>{{ group.name }}</td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="2">Chưa có nhóm nào.</td>
        </tr>
    {% endfor %}
{% endblock %}
