{% extends "admin/admin_base.html" %}
{% load static %}

{% block content %}

<div class="form-container">
    <h2 style="margin-bottom: 10px">Thêm Người Dùng Mới</h2>
    <form method="POST" action="{% url 'add_user' %}">  <!-- Thay 'create_user' bằng URL bạn muốn xử lý -->
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Tên Người Dùng:</label>
            <input type="text" id="username" name="username" required placeholder="Nhập tên người dùng">
        </div>
        <div class="form-group">
            <label for="password">Mật Khẩu:</label>
            <input type="password" id="password" name="password" required placeholder="Nhập mật khẩu">
        </div>
        <div class="form-group">
            <label for="full_name">Full name:</label>
            <input type="text" id="full_name" name="full_name" required  placeholder="Nhập họ và tên">
        </div>
        <div class="form-group">
            <label for="role">Vai Trò:</label>
            <select id="role" name="role" required>
                <option value="customer">Khách hàng</option>
                <option value="staff">Nhân Viên</option>
                <option value="manager">Quản Trị Viên</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <div class="form-group"> 
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Nhập email">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required placeholder="Nhập số điện thoại">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required placeholder="Nhập địa chỉ">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </div>
        <div class="form-group">
            <label for="group">Nhóm:</label>
            <select id="group" name="group" multiple multiple style="height: 200px; width: 100%;">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            <small>Giữ Ctrl (hoặc Cmd trên Mac) để chọn nhiều quyền.</small>
        </div>
        <div class="form-group checkbox-group">
            <div class="checkbox-wrapper">
                <label for="is_staff">Staff( Quyền đăng nhập vào trang admin):</label>
                <input type="checkbox" id="is_staff" name="is_staff">
            </div>
        </div>
        <div class="form-group checkbox-group">
            <div class="checkbox-wrapper">
                <label for="is_superuser">Superuser( Có tất cả các quyền ):</label>
                <input type="checkbox" id="is_superuser" name="is_superuser">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="save-btn">Thêm Người Dùng</button>
            <a href="{% url 'list_user' %}" class="cancel-btn">Hủy</a>
        </div>
    </form>
</div>

{% endblock %}