{% extends 'admin/admin_base_site.html'%}
{% load static %}
{% block title %}Danh sách khách hàng{% endblock %}
{% block header_title %}Quản lý khách hàng{% endblock %}

{% block action_buttons %}
{% if can_add_user %}
<div class="action-buttons">
    <a href="{% url 'add_user' %}" class="add-btn">Thêm mới</a>
</div>
{% endif %}
{% endblock %}

{%block table_header%}
    <tr>
        <th>Tên người dùng</th>
        <th>Tài khoản </th>
        <th>Vai trò</th>
        <th>Trạng thái</th>
        <th>Is Staff</th>
        <th>Is Superuser</th>
        <th colspan ="2">Thao tác</th>
    </tr>
{% endblock %}
{% block table_body %}
    {% for user in users %}
    <tr>
        <td>{{ user.full_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_role_display }}</td>
        <td>{{ user.get_status_display }}</td>
        <td>{{ user.is_staff }}</td>
        <td>{{ user.is_superuser }}</td>
        <td>
            <a href="#" class="edit-btn">Sửa</a>
            <a href="#" class="delete-btn" onclick="return confirm('Bạn có chắc muốn xóa?')">Xóa</a>
        </td> 
    </tr>
    {% empty %}
        <tr>
            <td colspan="6">Chưa có người dùng nào.</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block filter_fields %}   
    {% comment %} <input name ="full_name" id="full_name" type="text" placeholder="Tên người dùng" value="{{ full_name_filter|default_if_none: '' }}"> {% endcomment %}
    <select name="role" id="role">
        <option value=""  {% if not role_filter %}selected{% endif %}>Chọn vai trò</option>
        {% for value, label in roles %}
        <option value="{{ value }}" {% if role_filter == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>
    
    
{% endblock %}
