{% extends 'admin/admin_base_site.html'%}
{% load static %}
{% block title %}Danh sách khách hàng{% endblock %}
{% block header_title %}Quản lý khách hàng{% endblock %}

{% block action_buttons %}
{% if can_add_user %}
<div class="action-buttons">
    <a href="{% url 'add_user' %}" class="add-btn">Thêm mới</a>
</div>
{% endif %}
{% endblock %}

{%block table_header%}
    <tr>
        <th>STT</th>
        <th>Tên người dùng</th>
        <th>Tài khoản </th>
        <th>Vai trò</th>
        <th>Trạng thái</th>
        <th>Is Staff</th>
        <th>Is Superuser</th>
        <th colspan ="2">Thao tác</th>
    </tr>
{% endblock %}
{% block table_body %}
    {% for user in users %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_role_display }}</td>
        <td>{{ user.get_status_display }}</td>
        <td>{% if user.is_staff %}✅{% else %}❌{% endif %}</td>
        <td>{% if user.is_superuser %}✅{% else %}❌{% endif %}</td>
        <td>
            <a href="{% url 'change_user' user.id %}" class="edit-btn">Sửa</a>
        </td> 
    </tr>
    {% empty %}
        <tr>
            <td colspan="7">Chưa có người dùng nào.</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block filter_fields %}   
    <input name ="full_name" id="full_name" type="text" placeholder="Nhập tên người dùng" value="{{ full_name_filter|default_if_none:'' }}">
    <select name="role" id="role">
        <option value=""  {% if not role_filter %}selected{% endif %}>Chọn vai trò</option>
        {% for value, label in roles %}
        <option value="{{ value }}" {% if role_filter == value %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>
    <select name ="is_staff" id="">
        <option value="" {% if not is_staff_filter %}selected{% endif %}>Is Staff</option>
        <option value="True" {% if is_staff_filter == 'True' %}selected{% endif %}>True</option>
        <option value="False" {% if is_staff_filter == 'False' %}selected{% endif %}>False</option>
    </select>
    <select name ="is_superuser" id="">
        <option value="" {% if not is_superuser_filter %}selected{% endif %}>Is Superuser</option>
        <option value="True" {% if is_superuser_filter == 'True' %}selected{% endif %}>True</option>
        <option value="False" {% if is_superuser_filter == 'False' %}selected{% endif %}>False</option> 
    </select>
    <button type="submit" class="filter-btn">Lọc</button>
{% endblock %}
{% block script%}
<script>
{% for message in messages %}
    alert("{{ message|escapejs }}");
{% endfor %}
</script>
{%endblock%}