{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%block titel%}<title>Admin Base</title>{%endblock%}
        <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    </head>
    <body>
        <header>
            <div class="header">
                <h1>Quản Trị Website</h1>
                <div class="header-right">
                    <p>Chào {{ user.username }}</p>
                    <a href="{% url 'admin_logout' %}">Đăng xuất</a>
                </div>
            </div>
        </header>
            <div class="sidebar">                
                <ul>
                    {% if user.is_superuser %}       <!-- Chỉ những superuser mới có quyền group permission -->         
                    <li><a href="{% url 'list_group' %}">Quản lý Nhóm </a></li> 
                    {% endif %}

                    {% if can_view_books %}
                    <li><a href="{% url 'list_book' %}">Quản lý Sách</a></li>
                    {% endif %}

                    {% if can_view_orders %}
                    <li><a href="{% url 'list_order'%}">Quản lý Hóa Đơn</a></li>
                    {% endif %}

                    {% if can_view_categories %}
                    <li><a href="{% url "list_category"%}">Quản lý Danh Mục</a></li>
                    {% endif %}

                    {% if can_view_stockin %}
                    <li><a href="{% url 'list_stock_in'%}">Quản lý Phiếu Nhập</a></li>
                    {% endif %}

                    {% if can_view_stockout %}
                    <li><a href="{% url 'list_stock_out'%}">Quản lý Phiếu Xuất</a></li>
                    {% endif %}

                    {% if can_view_report %}
                    <li><a href="#">Quản lý Báo Cáo</a></li>
                    {% endif %}

                    {% if can_view_users %}
                    <li><a href="{% url 'list_user'%}">Quản lý Người Dùng</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="main-content">
                {% block content %}
                {% endblock %}
            </div>    
    </body>       
</html>   




